# --------------------------------------
# Lixos temporários de editor / sistema
# --------------------------------------
*.swp
*.swo
*.bak
*.tmp
*.cache
.php-cs-fixer.cache

# --------------------------------------
# Relatórios e arquivos gerados
# --------------------------------------
# Gráficos e estatísticas geradas (relatórios)
src/admin/report/*.png
src/admin/report/*.txt

# Gráficos do Autojudge
src/private/agentcode/
src/private/webcast.*
!src/private/webcast.sep
src/private/scoretmp/
src/private/problemtmp/
src/private/runtmp/
src/private/runslog/

# Balões personalizados (só se não quiser versionar)
src/balloons/

# Arquivos grandes que mudam a toda hora
src/client-v2-*.js

# --------------------------------------
# ZIPs de problemas (se não quiser versionar exemplos)
doc/problemexamples/*.zip

# Arquivos PDF temporários ou gerados em tempo de execução
src/private/secretcontest/*.pdf

# --------------------------------------
# Ferramentas e scripts de deploy
# (só se não quiser versionar)
tools/
debian/

# Ignorar dependências instaladas com Composer
/vendor/

# Ignorar arquivos de controle do Composer
composer.lock
composer.json

# Ignorar .env
.env
